<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="notices"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit All Notices Stuff Here !</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar [(ngModel)]="term" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data |filter:term">
      <ion-label (click)="editForm(item.notices_id)">
        <h2 class="text-danger">{{item.notices_title}}</h2>
        <h3 class="ion-text-end">{{item.notices_date | date}}</h3>
        <p>{{item.notices_describe}}</p>
      </ion-label>
    </ion-item>
  
  </ion-list>
  <ion-infinite-scroll threshold="10px" (ionInfinite)="getData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>