<ion-header [translucent]="true" sticky>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notices</ion-title>
  </ion-toolbar>



</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="danger ">
      <ion-card-title class="text-center">Add Notice Here !</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #noticeForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col>

              <ion-item>
                <ion-label position="floating" class="text-danger">Title </ion-label>
                <ion-input name="notices_title" required="true" #notices_title="ngModel"
                  [(ngModel)]="data.notices_title"></ion-input>
              </ion-item>
              <div *ngIf="notices_title.invalid && notices_title.touched ">
                <ion-text color="primary">
                  <h4 style="padding-left: 20px">Please Add Title Here !</h4>
                </ion-text>
              </div>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating" color="danger">Description</ion-label>
                <ion-textarea name="notices_describe" required="true" #notices_describe="ngModel"
                  [(ngModel)]="data.notices_describe" rows="6" cols="20" placeholder="Enter any notes here...">
                </ion-textarea>

              </ion-item>
              <div *ngIf="notices_describe.invalid && notices_describe.touched ">
                <ion-text color="primary">
                  <h4 style="padding-left: 20px">Please Add Description Here !</h4>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="noticeForm.invalid" (click)="addDownload(noticeForm)"
                color="primary" expand="block">Submit</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col>

        <h4 class="text-center text-white bg-danger p-2">Recent Download</h4>
        <ion-list>
          <ion-item *ngFor="let item of datas | slice:0:1;">
            <ion-label (click)="viewDetails(item.notices_id) ">{{item.notices_title}}</ion-label>
          </ion-item>


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title class="text-center">Click + Button for View , Edit , Delete</ion-title>
  </ion-toolbar>
</ion-footer>